<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

    <Properties>
        <Property name="LOG_PATH">logs</Property>
    </Properties>

    <Appenders>

        <!-- Console Appender -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %c{1} - %msg%n"/>
        </Console>

        <!-- General File Appender (ALL logs) -->
        <File name="GeneralFile"
              fileName="${LOG_PATH}/automation.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %c{1} - %msg%n"/>
        </File>

        <!-- Error File Appender (ERROR and FATAL only) -->
        <File name="ErrorFile"
              fileName="${LOG_PATH}/error.log">
            <Filters>
                <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %c{1} - %msg%n"/>
        </File>

    </Appenders>

    <Loggers>

        <!-- Application Logger -->
        <Logger name="com.orangehrm" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="GeneralFile"/>
            <AppenderRef ref="ErrorFile"/>
        </Logger>

        <!-- Root Logger -->
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="GeneralFile"/>
            <AppenderRef ref="ErrorFile"/>
        </Root>

    </Loggers>

</Configuration>